In [1]:
import pandas as pd

In [2]:
pop_df = pd.read_csv('STCTYEST2020.csv', encoding='latin-1', header=None)
# we only want the some columns
pop_df = pop_df[[3, 5, 10, 15]]
# rename the columns
pop_df.columns = ['cfips', 'pop_2010', 'pop_2015', 'pop_2020']
# drop the first row
pop_df = pop_df.drop(0)
# convert the cfips to a string
pop_df['cfips'] = pop_df['cfips'].astype(str)
# add leading zeros to the cfips
pop_df['cfips'] = pop_df['cfips'].str.zfill(5)
# convert the population columns to integers
pop_df['pop_2010'] = pop_df['pop_2010'].astype(int)
pop_df['pop_2015'] = pop_df['pop_2015'].astype(int)
pop_df['pop_2020'] = pop_df['pop_2020'].astype(int)
pop_df.head()

   cfips  pop_2010  pop_2015  pop_2020
1  01001     54761     54903     56145
2  01003    183121    203101    229287
3  01005     27325     26300     24589
4  01007     22858     22553     22136
5  01009     57372     57535     57879

In [3]:
pop_df['pop_5yr_pct_chg'] = 100 * (pop_df['pop_2020'] - pop_df['pop_2015']) / pop_df['pop_2015']
pop_df['pop_10yr_pct_chg'] = 100 * (pop_df['pop_2020'] - pop_df['pop_2010']) / pop_df['pop_2010']
pop_df.head()

   cfips  pop_2010  pop_2015  pop_2020  pop_5yr_pct_chg  pop_10yr_pct_chg
1  01001     54761     54903     56145         2.262171          2.527346
2  01003    183121    203101    229287        12.893093         25.210653
3  01005     27325     26300     24589        -6.505703        -10.012809
4  01007     22858     22553     22136        -1.848978         -3.158632
5  01009     57372     57535     57879         0.597897          0.883706

In [6]:
pop_df['cfips'].nunique()

3193

In [4]:
# load the empty cfips dataframe
dtypes = {'cfips': str}
cfips_df = pd.read_csv('../DATA/cfips.csv', header=0, dtype=dtypes)
cfips_df.head()

   cfips
0  01001
1  01003
2  01005
3  01007
4  01009

In [5]:
cfips_df['cfips'].nunique()

3142

In [7]:
# merge the population data with the cfips dataframe
new_pop_df = pd.merge(cfips_df, pop_df, on='cfips', how='left')
new_pop_df.head()

   cfips  pop_2010  pop_2015  pop_2020  pop_5yr_pct_chg  pop_10yr_pct_chg
0  01001   54761.0   54903.0   56145.0         2.262171          2.527346
1  01003  183121.0  203101.0  229287.0        12.893093         25.210653
2  01005   27325.0   26300.0   24589.0        -6.505703        -10.012809
3  01007   22858.0   22553.0   22136.0        -1.848978         -3.158632
4  01009   57372.0   57535.0   57879.0         0.597897          0.883706

In [8]:
new_pop_df['cfips'].nunique()

3142

In [9]:
# save the new population dataframe
new_pop_df.to_csv('pop_and_5_10_yr_change.csv', index=False)