In [50]:
import numpy as np
import pandas as pd

#load in data
train_data = pd.read_csv("../DATA/Leon_Data/train.csv")

university_data = pd.read_csv("../DATA/Leon_Data/university_data.csv")
#university_location = pd.read_csv("Data/university_location.csv")
start_data = pd.read_csv("../DATA/cfips_to_county_name.csv")
coastline = pd.read_csv("../DATA/Leon_Data/coastline_data.csv")

rev_2018 = pd.read_csv("../DATA/Leon_Data/FY2018_50_County_rev.csv")
rev_2019 = pd.read_csv("../DATA/Leon_Data/FY2019_50_County_rev.csv")
rev_2020 = pd.read_csv("../DATA/Leon_Data/FY2020_50_County_rev.csv")
rev_2021 = pd.read_csv("../DATA/Leon_Data/FY2021_50_County_rev.csv")
rev_2022 = pd.read_csv("../DATA/Leon_Data/FY2022_50_County_rev.csv")
rev_2023 = pd.read_csv("../DATA/Leon_Data/FY2023_50_County_rev.csv")
tax_data = pd.read_csv("../DATA/Leon_Data/tax_data.csv")

In [51]:
#split first_day_of_month with month column and year column
display(train_data)
train_data['first_day_of_month'] = pd.to_datetime(train_data['first_day_of_month'])

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243
...,...,...,...,...,...,...,...
122260,56045_2022-06-01,56045,Weston County,Wyoming,2022-06-01,1.803249,101
122261,56045_2022-07-01,56045,Weston County,Wyoming,2022-07-01,1.803249,101
122262,56045_2022-08-01,56045,Weston County,Wyoming,2022-08-01,1.785395,100
122263,56045_2022-09-01,56045,Weston County,Wyoming,2022-09-01,1.785395,100
122264,56045_2022-10-01,56045,Weston County,Wyoming,2022-10-01,1.785395,100

In [52]:
# Create a DatetimeIndex for the 47 months starting from August 2018
date_index = pd.date_range(start='2019-08', periods=47, freq='M')

# Create a dataframe with the DatetimeIndex as the index
month_year = pd.DataFrame(index=date_index)

# Reset the index and rename the column to 'Date'
month_year = month_year.reset_index().rename(columns={'index': 'Date'})


# Convert the 'date' column to a pandas datetime object
month_year['Date'] = pd.to_datetime(month_year['Date'])



# Print the resulting DataFrame
display(month_year)

# Create a MultiIndex from the two DataFrames
index = pd.MultiIndex.from_product([month_year['Date'], start_data['cfips']], names=['Date', 'cfips'])

# Create a new DataFrame with all possible combinations of month-year and FIP code
base_data = pd.DataFrame(index=index).reset_index()
# Create new 'year' and 'month' columns by using the 'dt' accessor and the 'year' and 'month' attributes
base_data['year'] = base_data['Date'].dt.year
base_data['month'] = base_data['Date'].dt.month

# Left join base_data with start_data on fips column and add county_name and state columns from start_data
base_data = pd.merge(base_data.reset_index(), start_data[['cfips', 'county_name', 'state']], on='cfips', how='left')
display(base_data)

         Date
0  2019-08-31
1  2019-09-30
2  2019-10-31
3  2019-11-30
4  2019-12-31
5  2020-01-31
6  2020-02-29
7  2020-03-31
8  2020-04-30
9  2020-05-31
10 2020-06-30
11 2020-07-31
12 2020-08-31
13 2020-09-30
14 2020-10-31
15 2020-11-30
16 2020-12-31
17 2021-01-31
18 2021-02-28
19 2021-03-31
20 2021-04-30
21 2021-05-31
22 2021-06-30
23 2021-07-31
24 2021-08-31
25 2021-09-30
26 2021-10-31
27 2021-11-30
28 2021-12-31
29 2022-01-31
30 2022-02-28
31 2022-03-31
32 2022-04-30
33 2022-05-31
34 2022-06-30
35 2022-07-31
36 2022-08-31
37 2022-09-30
38 2022-10-31
39 2022-11-30
40 2022-12-31
41 2023-01-31
42 2023-02-28
43 2023-03-31
44 2023-04-30
45 2023-05-31
46 2023-06-30

         index       Date  cfips  year  month        county_name state
0            0 2019-08-31   1001  2019      8     Autauga County    AL
1            1 2019-08-31   1003  2019      8     Baldwin County    AL
2            2 2019-08-31   1005  2019      8     Barbour County    AL
3            3 2019-08-31   1007  2019      8        Bibb County    AL
4            4 2019-08-31   1009  2019      8      Blount County    AL
...        ...        ...    ...   ...    ...                ...   ...
147716  147716 2023-06-30  56037  2023      6  Sweetwater County    WY
147717  147717 2023-06-30  56039  2023      6       Teton County    WY
147718  147718 2023-06-30  56041  2023      6       Uinta County    WY
147719  147719 2023-06-30  56043  2023      6    Washakie County    WY
147720  147720 2023-06-30  56045  2023      6      Weston County    WY

[147721 rows x 7 columns]

In [53]:
train_data['month'] = train_data['first_day_of_month'].dt.month
train_data['year'] = train_data['first_day_of_month'].dt.year

train_data = train_data.rename(columns = {'cfips': 'fips', 'state': 'State_Name'})
base_data = base_data.rename(columns= {'cfips': 'fips', 'state': 'State_Name'})

In [54]:
display(coastline)

,STATE/\r\nCOUNTY\r\nFIPS,STATE\r\nFIPS,COUNTY\r\nFIPS,COUNTY NAME,STATE NAME,COASTLINE REGION,V.2016\r\nPOPULATION\r\nESTIMATE
0,1003,1,3,Baldwin County,Alabama,Gulf of Mexico,"208,563"
1,1097,1,97,Mobile County,Alabama,Gulf of Mexico,"414,836"
2,2013,2,13,Aleutians East Borough,Alaska,Pacific,"3,296"
3,2016,2,16,Aleutians West Census Area,Alaska,Pacific,"5,647"
4,2020,2,20,Anchorage Borough,Alaska,Pacific,"298,192"
...,...,...,...,...,...,...,...
250,53055,53,55,San Juan County,Washington,Pacific,"16,339"
251,53057,53,57,Skagit County,Washington,Pacific,"123,681"
252,53061,53,61,Snohomish County,Washington,Pacific,"787,620"
253,53069,53,69,Wahkiakum County,Washington,Pacific,"4,139"
254,53073,53,73,Whatcom County,Washington,Pacific,"216,800"

In [55]:
#clean data
#left join coastline onto train_data

coastline = coastline.iloc[:, [0, 5]]
coastline = coastline.rename(columns={'STATE/\r\nCOUNTY\r\nFIPS': 'fips', 'COASTLINE REGION': 'Coastline_Region'})
coastline['fips'] = coastline['fips'].astype(str)
coastline['fips'] = coastline['fips'].apply(lambda x: x.zfill(5))

In [56]:
#subtract fips2010 and cousub to get fips
#rename rent columns with year date

def rev_wrangle(df, year):

    cousub_lengths = df['cousub'].astype(str).apply(lambda x: len(x))

    df['fips'] = df['fips2010'].astype(str)
    fips = []
    for index, row in df.iterrows():
        
        
        fips.append(row['fips'][:-cousub_lengths[index]])
        
    df['fips'] = fips
    df['year'] = year

In [57]:
rev_wrangle(rev_2018, 2018)
rev_wrangle(rev_2019, 2019)
rev_wrangle(rev_2020, 2020)
rev_wrangle(rev_2021, 2021)
rev_wrangle(rev_2023, 2023)

In [58]:
display(rev_2022)

,state_code,county,cousub,rent_50_0,rent_50_1,rent_50_2,rent_50_3,rent_50_4,pop2017
0,48,59,99999,715,760,981,1337,1658,13660
1,48,253,99999,715,760,981,1337,1658,19970
2,48,441,99999,715,760,981,1337,1658,135370
3,72,3,99999,407,423,486,604,711,39470
4,72,5,99999,407,423,486,604,711,55720
...,...,...,...,...,...,...,...,...,...
4760,72,133,99999,389,396,451,614,674,22475
4761,72,147,99999,389,396,451,614,674,8930
4762,78,10,99999,964,984,1201,1485,1629,53234
4763,78,20,99999,1280,1517,1885,2330,2556,4197
4764,78,30,99999,904,1088,1361,1682,1846,51181

In [59]:
# Perform inner join on county column
rev_2022 = pd.read_csv("../DATA/Leon_Data/FY2022_50_County_rev.csv")




#combine state_code and county where state_code is 2 digits and zfill county to 3 digits
rev_2022['fips'] = rev_2022['state_code'].astype(str) + rev_2022['county'].astype(str).apply(lambda x: x.zfill(3))

display(rev_2022)

,state_code,county,cousub,rent_50_0,rent_50_1,rent_50_2,rent_50_3,rent_50_4,pop2017,fips
0,48,59,99999,715,760,981,1337,1658,13660,48059
1,48,253,99999,715,760,981,1337,1658,19970,48253
2,48,441,99999,715,760,981,1337,1658,135370,48441
3,72,3,99999,407,423,486,604,711,39470,72003
4,72,5,99999,407,423,486,604,711,55720,72005
...,...,...,...,...,...,...,...,...,...,...
4760,72,133,99999,389,396,451,614,674,22475,72133
4761,72,147,99999,389,396,451,614,674,8930,72147
4762,78,10,99999,964,984,1201,1485,1629,53234,78010
4763,78,20,99999,1280,1517,1885,2330,2556,4197,78020
4764,78,30,99999,904,1088,1361,1682,1846,51181,78030

In [60]:
rev_2022['year'] = 2022
rev_2022 = rev_2022.rename(columns = {'state_code': 'state_alpha'})
display(rev_2022)

,state_alpha,county,cousub,rent_50_0,rent_50_1,rent_50_2,rent_50_3,rent_50_4,pop2017,fips,year
0,48,59,99999,715,760,981,1337,1658,13660,48059,2022
1,48,253,99999,715,760,981,1337,1658,19970,48253,2022
2,48,441,99999,715,760,981,1337,1658,135370,48441,2022
3,72,3,99999,407,423,486,604,711,39470,72003,2022
4,72,5,99999,407,423,486,604,711,55720,72005,2022
...,...,...,...,...,...,...,...,...,...,...,...
4760,72,133,99999,389,396,451,614,674,22475,72133,2022
4761,72,147,99999,389,396,451,614,674,8930,72147,2022
4762,78,10,99999,964,984,1201,1485,1629,53234,78010,2022
4763,78,20,99999,1280,1517,1885,2330,2556,4197,78020,2022
4764,78,30,99999,904,1088,1361,1682,1846,51181,78030,2022

In [61]:
rev_2019.iloc[:, [13, 12, 11, 1,2,3,4,5]]

,year,fips,state_alpha,rent_50_0,rent_50_1,rent_50_2,rent_50_3,rent_50_4
0,2019,48059,TX,642,667,882,1142,1467
1,2019,48253,TX,642,667,882,1142,1467
2,2019,48441,TX,642,667,882,1142,1467
3,2019,72003,PR,388,398,456,606,732
4,2019,72005,PR,388,398,456,606,732
...,...,...,...,...,...,...,...,...
4763,2019,72133,PR,358,367,444,595,696
4764,2019,72147,PR,358,367,444,595,696
4765,2019,78010,VI,779,794,970,1215,1311
4766,2019,78020,VI,1034,1225,1523,1908,2059
4767,2019,78030,VI,744,897,1123,1407,1518

In [62]:
#concatenate rev tables


rev_data = pd.concat([rev_2018.iloc[:, [13, 12, 11, 1,2,3,4,5]]
                      , rev_2019.iloc[:, [13, 12, 11, 1,2,3,4,5]]
                      , rev_2020.iloc[:, [13, 12, 11, 1,2,3,4,5]]
                      , rev_2021.iloc[:, [13, 12, 11, 1,2,3,4,5]]
                      , rev_2022.iloc[:, [10, 9, 0, 3,4,5,6,7]]
                      , rev_2023.iloc[:, [12, 11, 10, 4,5,6,7,8]]], axis =0)
rev_data = rev_data.drop_duplicates(subset=['year', 'fips'])
display(rev_data)

,year,fips,state_alpha,rent_50_0,rent_50_1,rent_50_2,rent_50_3,rent_50_4
0,2018,1001,AL,631,742,890,1133,1558
1,2018,1003,AL,786,809,929,1351,1578
2,2018,1005,AL,527,531,706,885,998
3,2018,1007,AL,749,832,955,1273,1424
4,2018,1009,AL,749,832,955,1273,1424
...,...,...,...,...,...,...,...,...
4759,2023,72133,PR,411,421,475,659,728
4760,2023,72147,PR,411,421,475,659,728
4761,2023,78010,VI,1038,1059,1293,1574,1737
4762,2023,78020,VI,1378,1633,2029,2469,2726
4763,2023,78030,VI,980,1171,1465,1783,1968

In [63]:
display(tax_data)

,State Symbol,Top Marginal Personal Income Tax Rate,Top Marginal Corporate Income Tax Rate,"Personal Income Tax Progressivity\r\n\r\n\r\n\r\n\r\n\r\n\r\n(change in tax liability per $1,000 of income)","Property Tax Burden\r\n\r\n\r\n\r\n\r\n\r\n\r\n(per $1,000 of personal income)","Sales Tax Burden\r\n\r\n\r\n\r\n\r\n\r\n\r\n(per $1,000 of personal income)","Remaining Tax Burden\r\n\r\n\r\n\r\n\r\n\r\n\r\n(per $1,000 of personal income)",Estate / Inheritance Tax Levied?,Recently Legislated Tax Changes,Debt Service as a Share of Tax Revenue,"Public Employees Per 10,000 of Population\r\n\r\n\r\n\r\n\r\n\r\n\r\n(full-time equivalent)","State Liability System Survey\r\n\r\n\r\n\r\n\r\n\r\n\r\n(tort litigation treatment, judicial impartiality, etc.)",State Minimum Wage\r\n\r\n\r\n\r\n\r\n\r\n\r\n(federal floor is $7.25),Average Workersâ€™ Compensation Costs\r\n\r\n\r\n\r\n\r\n\r\n\r\n(per $100 of payroll),Right-to-Work State?\r\n\r\n\r\n\r\n\r\n\r\n\r\n(option to join or support a union),Tax Expenditure Limits
0,AL,0.04,0.06,-1.80,14.37,26.04,20.87,0.0,0.55,0.06,583.5,65.6,7.25,1.33,1.0,0.0
1,AK,0.00,0.09,0.00,36.26,5.87,14.08,0.0,0.00,0.09,694.8,73.1,10.34,1.86,0.0,2.0
2,AZ,0.05,0.05,13.05,25.77,36.79,11.13,0.0,-2.27,0.06,385.6,70.8,12.80,1.05,1.0,2.0
3,AR,0.06,0.06,17.34,17.82,36.25,15.79,0.0,-0.94,0.04,563.1,69.5,11.00,0.72,1.0,1.0
4,CA,0.13,0.09,40.55,29.17,23.23,18.01,0.0,1.81,0.07,485.4,60.2,15.00,2.16,0.0,2.0
5,CO,0.05,0.05,7.86,30.55,24.20,12.90,0.0,0.07,0.08,547.3,70.7,12.56,1.25,0.0,3.0
6,CT,0.07,0.08,7.67,42.68,17.09,15.68,1.0,-0.28,0.07,508.5,73.8,13.00,1.99,0.0,1.0
7,DE,0.08,0.12,15.10,18.06,0.00,53.20,0.0,0.00,0.05,525.3,76.3,10.50,1.97,0.0,1.0
8,FL,0.00,0.06,0.00,27.96,27.68,18.22,0.0,-0.19,0.05,415.9,62.3,10.00,1.41,1.0,2.0
9,GA,0.06,0.06,9.34,27.04,20.47,12.39,0.0,-0.66,0.06,491.9,66.1,7.25,1.64,1.0,0.0
10,HI,0.11,0.06,13.54,26.66,52.91,28.52,1.0,0.00,0.04,524.0,71.1,10.10,2.08,0.0,1.0
11,ID,0.07,0.07,14.46,24.83,24.26,14.50,0.0,-1.90,0.04,473.7,72.2,7.25,1.56,1.0,1.0
12,IL,0.05,0.10,1.60,40.04,20.24,20.73,1.0,0.00,0.11,493.8,59.6,12.00,1.46,0.0,0.0
13,IN,0.05,0.05,0.70,23.69,25.02,17.83,0.0,-0.14,0.07,488.0,68.9,7.25,0.77,1.0,1.0
14,IA,0.05,0.10,13.28,35.41,23.71,18.51,1.0,-2.21,0.04,601.4,70.6,7.25,1.54,1.0,0.0
15,KS,0.06,0.07,10.09,31.81,29.25,13.35,0.0,1.01,0.05,702.9,68.8,7.25,1.12,1.0,0.0
16,KY,0.07,0.07,1.85,20.28,20.73,19.71,1.0,0.07,0.07,543.0,66.5,7.25,1.13,1.0,0.0
17,LA,0.03,0.06,5.02,19.64,37.41,16.46,0.0,-0.12,0.06,572.6,60.0,7.25,1.95,1.0,2.0
18,ME,0.07,0.09,26.25,56.02,24.25,16.50,1.0,0.00,0.03,526.7,73.8,12.75,1.62,0.0,1.0
19,MD,0.09,0.08,8.95,27.07,12.96,23.13,1.0,0.00,0.07,527.9,69.7,12.50,1.14,0.0,0.0
20,MA,0.05,0.08,2.93,35.85,13.72,11.69,1.0,0.12,0.07,497.0,69.6,14.25,1.17,0.0,1.0
21,MI,0.07,0.08,2.83,31.40,19.84,16.09,0.0,0.00,0.07,439.1,68.8,9.87,1.14,1.0,2.0
22,MN,0.10,0.10,20.27,29.93,19.97,23.28,1.0,0.26,0.05,538.8,70.7,10.33,1.61,0.0,0.0
23,MS,0.05,0.05,9.13,28.72,32.59,19.44,0.0,0.20,0.05,616.4,61.9,7.25,1.20,1.0,1.0
24,MO,0.06,0.05,12.75,23.23,23.44,12.70,0.0,1.04,0.09,515.4,64.4,11.15,1.65,0.0,3.0
25,MT,0.07,0.07,18.53,35.13,0.00,21.33,0.0,-0.10,0.05,546.9,72.5,9.20,1.69,0.0,0.0
26,NE,0.07,0.08,19.52,37.85,23.18,14.68,1.0,-0.02,0.05,663.7,72.3,9.00,1.44,1.0,0.0
27,NV,0.00,0.01,0.00,20.72,40.85,34.20,0.0,0.00,0.08,376.7,69.5,9.75,1.07,1.0,2.0
28,NH,0.00,0.08,0.00,51.81,0.00,19.84,0.0,-0.81,0.06,512.0,70.7,7.25,1.37,0.0,0.0
29,NJ,0.12,0.12,24.81,51.21,17.80,14.14,1.0,1.37,0.05,542.0,65.4,13.00,2.52,0.0,1.0
30,NM,0.06,0.06,12.19,20.94,46.74,15.38,0.0,0.33,0.06,589.1,70.6,11.50,1.34,0.0,0.0
31,NY,0.15,0.18,16.43,46.15,24.76,18.42,1.0,2.19,0.09,639.3,67.7,13.20,2.23,0.0,0.0
32,NC,0.05,0.03,8.48,22.46,24.18,15.86,0.0,-2.38,0.05,530.0,70.9,7.25,1.31,1.0,1.0
33,ND,0.03,0.04,8.55,27.62,30.30,18.57,0.0,-5.97,0.05,622.0,72.6,7.25,0.67,1.0,0.0
34,OH,0.06,0.04,15.51,28.17,22.51,15.37,0.0,-1.28,0.06,497.5,67.7,9.30,1.11,0.0,1.0
35,OK,0.05,0.04,7.17,17.41,28.99,15.74,0.0,-0.69,0.05,526.7,71.2,7.25,1.66,1.0,1.0
36,OR,0.15,0.16,40.09,32.52,0.00,22.15,1.0,0.00,0.06,499.5,69.9,12.75,1.00,0.0,2.0
37,PA,0.07,0.17,0.00,28.61,17.47,23.74,1.0,0.00,0.07,438.9,66.6,7.25,1.55,0.0,0.0
38,RI,0.06,0.07,11.37,45.56,19.07,19.15,1.0,0.00,0.08,461.3,70.5,12.25,1.93,0.0,2.0
39,SC,0.07,0.05,19.35,28.62,19.46,16.88,0.0,0.00,0.07,543.3,67.6,7.25,1.56,1.0,1.0
40,SD,0.00,0.00,0.00,28.64,32.14,18.27,0.0,0.00,0.06,529.5,72.0,9.95,1.48,1.0,1.0
41,TN,0.00,0.07,0.00,17.34,29.34,18.68,0.0,2.54,0.09,489.2,68.3,7.25,1.09,1.0,2.0
42,TX,0.00,0.03,0.00,40.10,28.08,15.26,0.0,0.00,0.09,528.9,67.1,7.25,0.98,1.0,2.0
43,UT,0.05,0.05,0.32,24.31,25.18,16.10,0.0,-0.57,0.05,503.0,70.7,7.25,0.85,1.0,1.0
44,VT,0.09,0.09,28.76,53.82,12.58,26.87,1.0,0.00,0.03,599.5,71.7,12.55,2.21,0.0,0.0
45,VA,0.06,0.08,7.60,30.58,14.02,16.40,0.0,1.80,0.05,529.0,71.3,11.00,1.28,1.0,0.0
46,WA,0.00,0.07,0.00,27.72,34.51,24.16,1.0,0.07,0.08,515.1,69.8,14.49,1.53,0.0,2.0
47,WV,0.07,0.07,15.53,22.68,20.43,26.72,0.0,0.00,0.05,560.8,63.3,8.75,0.79,1.0,0.0
48,WI,0.08,0.08,13.14,32.31,20.29,14.94,0.0,-1.53,0.04,483.1,71.2,7.25,1.74,1.0,1.0
49,WY,0.00,0.00,0.00,33.92,24.53,14.08,0.0,0.42,0.02,879.4,73.1,7.25,1.44,1.0,0.0

In [64]:
#rename columns
#add state name from state symbol



# Define a dictionary with state symbol as key and state name as value
state_dict = {
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming'
}

# Update the column names
tax_data.columns = ['State_Symbol'
                    , 'Top_Marginal_Personal_Income_Tax_Rate'
                    , 'Top_Marginal_Corporate_Income_Tax_Rate'
                    , 'Personal_Income_Tax_Progressivity_(change in tax liability per $1,000 of income)'
                    , 'Property_Tax_Burden_(per $1,000 of personal income)'
                    , 'Sales_Tax_Burden(per $1,000 of personal income)'
                    , 'Remaining_Tax_Burden(per $1,000 of personal income)'
                    , 'Estate_Inheritance_Tax_Levied_Flag'
                    , 'Recently_Legislated_Tax_Changes'
                    , 'Debt_Service_as_a_Share_of_Tax_Revenue'
                    , 'Public_Employees_Per_10,000_of_Population_(full-time equivalent)'
                    , 'State_Liability_System_Survey_(tort litigation treatment, judicial impartiality, etc.)'
                    , 'State_Minimum_Wage_(federal floor is $7.25)'
                    , 'Average Workers_Compensation_Costs_(per $100 of payroll)'
                    , 'Right-to-Work_State_Flag_(option to join or support a union)'
                    , 'Tax_Expenditure_Limits'
                    ]


# Map the state symbol to the corresponding state name using the dictionary
#tax_data['State_Name'] = tax_data['State_Symbol'].map(state_dict)
tax_data = tax_data.rename(columns={'State_Symbol': 'State_Name'})
display(tax_data)

,State_Name,Top_Marginal_Personal_Income_Tax_Rate,Top_Marginal_Corporate_Income_Tax_Rate,"Personal_Income_Tax_Progressivity_(change in tax liability per $1,000 of income)","Property_Tax_Burden_(per $1,000 of personal income)","Sales_Tax_Burden(per $1,000 of personal income)","Remaining_Tax_Burden(per $1,000 of personal income)",Estate_Inheritance_Tax_Levied_Flag,Recently_Legislated_Tax_Changes,Debt_Service_as_a_Share_of_Tax_Revenue,"Public_Employees_Per_10,000_of_Population_(full-time equivalent)","State_Liability_System_Survey_(tort litigation treatment, judicial impartiality, etc.)",State_Minimum_Wage_(federal floor is $7.25),Average Workers_Compensation_Costs_(per $100 of payroll),Right-to-Work_State_Flag_(option to join or support a union),Tax_Expenditure_Limits
0,AL,0.04,0.06,-1.80,14.37,26.04,20.87,0.0,0.55,0.06,583.5,65.6,7.25,1.33,1.0,0.0
1,AK,0.00,0.09,0.00,36.26,5.87,14.08,0.0,0.00,0.09,694.8,73.1,10.34,1.86,0.0,2.0
2,AZ,0.05,0.05,13.05,25.77,36.79,11.13,0.0,-2.27,0.06,385.6,70.8,12.80,1.05,1.0,2.0
3,AR,0.06,0.06,17.34,17.82,36.25,15.79,0.0,-0.94,0.04,563.1,69.5,11.00,0.72,1.0,1.0
4,CA,0.13,0.09,40.55,29.17,23.23,18.01,0.0,1.81,0.07,485.4,60.2,15.00,2.16,0.0,2.0
5,CO,0.05,0.05,7.86,30.55,24.20,12.90,0.0,0.07,0.08,547.3,70.7,12.56,1.25,0.0,3.0
6,CT,0.07,0.08,7.67,42.68,17.09,15.68,1.0,-0.28,0.07,508.5,73.8,13.00,1.99,0.0,1.0
7,DE,0.08,0.12,15.10,18.06,0.00,53.20,0.0,0.00,0.05,525.3,76.3,10.50,1.97,0.0,1.0
8,FL,0.00,0.06,0.00,27.96,27.68,18.22,0.0,-0.19,0.05,415.9,62.3,10.00,1.41,1.0,2.0
9,GA,0.06,0.06,9.34,27.04,20.47,12.39,0.0,-0.66,0.06,491.9,66.1,7.25,1.64,1.0,0.0
10,HI,0.11,0.06,13.54,26.66,52.91,28.52,1.0,0.00,0.04,524.0,71.1,10.10,2.08,0.0,1.0
11,ID,0.07,0.07,14.46,24.83,24.26,14.50,0.0,-1.90,0.04,473.7,72.2,7.25,1.56,1.0,1.0
12,IL,0.05,0.10,1.60,40.04,20.24,20.73,1.0,0.00,0.11,493.8,59.6,12.00,1.46,0.0,0.0
13,IN,0.05,0.05,0.70,23.69,25.02,17.83,0.0,-0.14,0.07,488.0,68.9,7.25,0.77,1.0,1.0
14,IA,0.05,0.10,13.28,35.41,23.71,18.51,1.0,-2.21,0.04,601.4,70.6,7.25,1.54,1.0,0.0
15,KS,0.06,0.07,10.09,31.81,29.25,13.35,0.0,1.01,0.05,702.9,68.8,7.25,1.12,1.0,0.0
16,KY,0.07,0.07,1.85,20.28,20.73,19.71,1.0,0.07,0.07,543.0,66.5,7.25,1.13,1.0,0.0
17,LA,0.03,0.06,5.02,19.64,37.41,16.46,0.0,-0.12,0.06,572.6,60.0,7.25,1.95,1.0,2.0
18,ME,0.07,0.09,26.25,56.02,24.25,16.50,1.0,0.00,0.03,526.7,73.8,12.75,1.62,0.0,1.0
19,MD,0.09,0.08,8.95,27.07,12.96,23.13,1.0,0.00,0.07,527.9,69.7,12.50,1.14,0.0,0.0
20,MA,0.05,0.08,2.93,35.85,13.72,11.69,1.0,0.12,0.07,497.0,69.6,14.25,1.17,0.0,1.0
21,MI,0.07,0.08,2.83,31.40,19.84,16.09,0.0,0.00,0.07,439.1,68.8,9.87,1.14,1.0,2.0
22,MN,0.10,0.10,20.27,29.93,19.97,23.28,1.0,0.26,0.05,538.8,70.7,10.33,1.61,0.0,0.0
23,MS,0.05,0.05,9.13,28.72,32.59,19.44,0.0,0.20,0.05,616.4,61.9,7.25,1.20,1.0,1.0
24,MO,0.06,0.05,12.75,23.23,23.44,12.70,0.0,1.04,0.09,515.4,64.4,11.15,1.65,0.0,3.0
25,MT,0.07,0.07,18.53,35.13,0.00,21.33,0.0,-0.10,0.05,546.9,72.5,9.20,1.69,0.0,0.0
26,NE,0.07,0.08,19.52,37.85,23.18,14.68,1.0,-0.02,0.05,663.7,72.3,9.00,1.44,1.0,0.0
27,NV,0.00,0.01,0.00,20.72,40.85,34.20,0.0,0.00,0.08,376.7,69.5,9.75,1.07,1.0,2.0
28,NH,0.00,0.08,0.00,51.81,0.00,19.84,0.0,-0.81,0.06,512.0,70.7,7.25,1.37,0.0,0.0
29,NJ,0.12,0.12,24.81,51.21,17.80,14.14,1.0,1.37,0.05,542.0,65.4,13.00,2.52,0.0,1.0
30,NM,0.06,0.06,12.19,20.94,46.74,15.38,0.0,0.33,0.06,589.1,70.6,11.50,1.34,0.0,0.0
31,NY,0.15,0.18,16.43,46.15,24.76,18.42,1.0,2.19,0.09,639.3,67.7,13.20,2.23,0.0,0.0
32,NC,0.05,0.03,8.48,22.46,24.18,15.86,0.0,-2.38,0.05,530.0,70.9,7.25,1.31,1.0,1.0
33,ND,0.03,0.04,8.55,27.62,30.30,18.57,0.0,-5.97,0.05,622.0,72.6,7.25,0.67,1.0,0.0
34,OH,0.06,0.04,15.51,28.17,22.51,15.37,0.0,-1.28,0.06,497.5,67.7,9.30,1.11,0.0,1.0
35,OK,0.05,0.04,7.17,17.41,28.99,15.74,0.0,-0.69,0.05,526.7,71.2,7.25,1.66,1.0,1.0
36,OR,0.15,0.16,40.09,32.52,0.00,22.15,1.0,0.00,0.06,499.5,69.9,12.75,1.00,0.0,2.0
37,PA,0.07,0.17,0.00,28.61,17.47,23.74,1.0,0.00,0.07,438.9,66.6,7.25,1.55,0.0,0.0
38,RI,0.06,0.07,11.37,45.56,19.07,19.15,1.0,0.00,0.08,461.3,70.5,12.25,1.93,0.0,2.0
39,SC,0.07,0.05,19.35,28.62,19.46,16.88,0.0,0.00,0.07,543.3,67.6,7.25,1.56,1.0,1.0
40,SD,0.00,0.00,0.00,28.64,32.14,18.27,0.0,0.00,0.06,529.5,72.0,9.95,1.48,1.0,1.0
41,TN,0.00,0.07,0.00,17.34,29.34,18.68,0.0,2.54,0.09,489.2,68.3,7.25,1.09,1.0,2.0
42,TX,0.00,0.03,0.00,40.10,28.08,15.26,0.0,0.00,0.09,528.9,67.1,7.25,0.98,1.0,2.0
43,UT,0.05,0.05,0.32,24.31,25.18,16.10,0.0,-0.57,0.05,503.0,70.7,7.25,0.85,1.0,1.0
44,VT,0.09,0.09,28.76,53.82,12.58,26.87,1.0,0.00,0.03,599.5,71.7,12.55,2.21,0.0,0.0
45,VA,0.06,0.08,7.60,30.58,14.02,16.40,0.0,1.80,0.05,529.0,71.3,11.00,1.28,1.0,0.0
46,WA,0.00,0.07,0.00,27.72,34.51,24.16,1.0,0.07,0.08,515.1,69.8,14.49,1.53,0.0,2.0
47,WV,0.07,0.07,15.53,22.68,20.43,26.72,0.0,0.00,0.05,560.8,63.3,8.75,0.79,1.0,0.0
48,WI,0.08,0.08,13.14,32.31,20.29,14.94,0.0,-1.53,0.04,483.1,71.2,7.25,1.74,1.0,1.0
49,WY,0.00,0.00,0.00,33.92,24.53,14.08,0.0,0.42,0.02,879.4,73.1,7.25,1.44,1.0,0.0

In [65]:
#join onto train_data


rev_data['fips'] = rev_data['fips'].astype(str)
base_data['fips'] = base_data['fips'].astype(str)
coastline['fips'] = coastline['fips'].astype(str)

#join rev
base_data['fips'] = base_data['fips'].apply(lambda x: x.zfill(5))
rev_data['fips'] = rev_data['fips'].apply(lambda x: x.zfill(5))

rev_data['year'] = rev_data['year']+1
df_join_1 = pd.merge(base_data, rev_data, on=['year', 'fips'], how='left')


#join coastline
df_join_2 = pd.merge(df_join_1, coastline, on = ['fips'], how = 'left')

In [66]:
display(rev_data)

,year,fips,state_alpha,rent_50_0,rent_50_1,rent_50_2,rent_50_3,rent_50_4
0,2019,01001,AL,631,742,890,1133,1558
1,2019,01003,AL,786,809,929,1351,1578
2,2019,01005,AL,527,531,706,885,998
3,2019,01007,AL,749,832,955,1273,1424
4,2019,01009,AL,749,832,955,1273,1424
...,...,...,...,...,...,...,...,...
4759,2024,72133,PR,411,421,475,659,728
4760,2024,72147,PR,411,421,475,659,728
4761,2024,78010,VI,1038,1059,1293,1574,1737
4762,2024,78020,VI,1378,1633,2029,2469,2726
4763,2024,78030,VI,980,1171,1465,1783,1968

In [67]:

df_join_2['coastline_flag'] = df_join_2['Coastline_Region'].notna().astype(int)
display(df_join_2)

,index,Date,fips,year,month,county_name,State_Name,state_alpha,rent_50_0,rent_50_1,rent_50_2,rent_50_3,rent_50_4,Coastline_Region,coastline_flag
0,0,2019-08-31,01001,2019,8,Autauga County,AL,AL,631.0,742.0,890.0,1133.0,1558.0,NaN,0
1,1,2019-08-31,01003,2019,8,Baldwin County,AL,AL,786.0,809.0,929.0,1351.0,1578.0,Gulf of Mexico,1
2,2,2019-08-31,01005,2019,8,Barbour County,AL,AL,527.0,531.0,706.0,885.0,998.0,NaN,0
3,3,2019-08-31,01007,2019,8,Bibb County,AL,AL,749.0,832.0,955.0,1273.0,1424.0,NaN,0
4,4,2019-08-31,01009,2019,8,Blount County,AL,AL,749.0,832.0,955.0,1273.0,1424.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147716,147716,2023-06-30,56037,2023,6,Sweetwater County,WY,56,733.0,746.0,850.0,1207.0,1455.0,NaN,0
147717,147717,2023-06-30,56039,2023,6,Teton County,WY,56,1257.0,1264.0,1537.0,2170.0,2631.0,NaN,0
147718,147718,2023-06-30,56041,2023,6,Uinta County,WY,56,607.0,611.0,757.0,1021.0,1293.0,NaN,0
147719,147719,2023-06-30,56043,2023,6,Washakie County,WY,56,617.0,638.0,757.0,1075.0,1094.0,NaN,0
147720,147720,2023-06-30,56045,2023,6,Weston County,WY,56,752.0,757.0,996.0,1231.0,1705.0,NaN,0

In [68]:

df_join_3 = pd.merge(df_join_2, tax_data, on = ['State_Name'], how = 'left')

In [69]:
df_join_3['fips'] = df_join_3['fips'].astype(str)
df_join_3['fips'] = df_join_3['fips'].apply(lambda x: x.zfill(5))
display(df_join_3)

,index,Date,fips,year,month,county_name,State_Name,state_alpha,rent_50_0,rent_50_1,...,"Remaining_Tax_Burden(per $1,000 of personal income)",Estate_Inheritance_Tax_Levied_Flag,Recently_Legislated_Tax_Changes,Debt_Service_as_a_Share_of_Tax_Revenue,"Public_Employees_Per_10,000_of_Population_(full-time equivalent)","State_Liability_System_Survey_(tort litigation treatment, judicial impartiality, etc.)",State_Minimum_Wage_(federal floor is $7.25),Average Workers_Compensation_Costs_(per $100 of payroll),Right-to-Work_State_Flag_(option to join or support a union),Tax_Expenditure_Limits
0,0,2019-08-31,01001,2019,8,Autauga County,AL,AL,631.0,742.0,...,20.87,0.0,0.55,0.06,583.5,65.6,7.25,1.33,1.0,0.0
1,1,2019-08-31,01003,2019,8,Baldwin County,AL,AL,786.0,809.0,...,20.87,0.0,0.55,0.06,583.5,65.6,7.25,1.33,1.0,0.0
2,2,2019-08-31,01005,2019,8,Barbour County,AL,AL,527.0,531.0,...,20.87,0.0,0.55,0.06,583.5,65.6,7.25,1.33,1.0,0.0
3,3,2019-08-31,01007,2019,8,Bibb County,AL,AL,749.0,832.0,...,20.87,0.0,0.55,0.06,583.5,65.6,7.25,1.33,1.0,0.0
4,4,2019-08-31,01009,2019,8,Blount County,AL,AL,749.0,832.0,...,20.87,0.0,0.55,0.06,583.5,65.6,7.25,1.33,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147716,147716,2023-06-30,56037,2023,6,Sweetwater County,WY,56,733.0,746.0,...,14.08,0.0,0.42,0.02,879.4,73.1,7.25,1.44,1.0,0.0
147717,147717,2023-06-30,56039,2023,6,Teton County,WY,56,1257.0,1264.0,...,14.08,0.0,0.42,0.02,879.4,73.1,7.25,1.44,1.0,0.0
147718,147718,2023-06-30,56041,2023,6,Uinta County,WY,56,607.0,611.0,...,14.08,0.0,0.42,0.02,879.4,73.1,7.25,1.44,1.0,0.0
147719,147719,2023-06-30,56043,2023,6,Washakie County,WY,56,617.0,638.0,...,14.08,0.0,0.42,0.02,879.4,73.1,7.25,1.44,1.0,0.0
147720,147720,2023-06-30,56045,2023,6,Weston County,WY,56,752.0,757.0,...,14.08,0.0,0.42,0.02,879.4,73.1,7.25,1.44,1.0,0.0

In [70]:
train_data['fips'] = train_data['fips'].astype(str)
train_data['fips'] = train_data['fips'].apply(lambda x: x.zfill(5))
df_join_4 = pd.merge(df_join_3, train_data, on = ['fips', 'year', 'month'], how = 'left')

In [71]:
#print(train_data[train_data['fips']=='56037'])

print(df_join_4.columns.tolist())
df_join_4 = df_join_4.drop(df_join_4.columns[[0,5,6]], axis = 1)
df_join_4 = df_join_4.rename(columns={'State_Name_y': 'State_Name'})
# set the option to display all columns
pd.set_option('display.max_columns', None)
display(df_join_4)

['index', 'Date', 'fips', 'year', 'month', 'county_name', 'State_Name_x', 'state_alpha', 'rent_50_0', 'rent_50_1', 'rent_50_2', 'rent_50_3', 'rent_50_4', 'Coastline_Region', 'coastline_flag', 'Top_Marginal_Personal_Income_Tax_Rate', 'Top_Marginal_Corporate_Income_Tax_Rate', 'Personal_Income_Tax_Progressivity_(change in tax liability per $1,000 of income)', 'Property_Tax_Burden_(per $1,000 of personal income)', 'Sales_Tax_Burden(per $1,000 of personal income)', 'Remaining_Tax_Burden(per $1,000 of personal income)', 'Estate_Inheritance_Tax_Levied_Flag', 'Recently_Legislated_Tax_Changes', 'Debt_Service_as_a_Share_of_Tax_Revenue', 'Public_Employees_Per_10,000_of_Population_(full-time equivalent)', 'State_Liability_System_Survey_(tort litigation treatment, judicial impartiality, etc.)', 'State_Minimum_Wage_(federal floor is $7.25)', 'Average Workers_Compensation_Costs_(per $100 of payroll)', 'Right-to-Work_State_Flag_(option to join or support a union)', 'Tax_Expenditure_Limits', 'row_id', 'county', 'State_Name_y', 'first_day_of_month', 'microbusiness_density', 'active']

,Date,fips,year,month,state_alpha,rent_50_0,rent_50_1,rent_50_2,rent_50_3,rent_50_4,Coastline_Region,coastline_flag,Top_Marginal_Personal_Income_Tax_Rate,Top_Marginal_Corporate_Income_Tax_Rate,"Personal_Income_Tax_Progressivity_(change in tax liability per $1,000 of income)","Property_Tax_Burden_(per $1,000 of personal income)","Sales_Tax_Burden(per $1,000 of personal income)","Remaining_Tax_Burden(per $1,000 of personal income)",Estate_Inheritance_Tax_Levied_Flag,Recently_Legislated_Tax_Changes,Debt_Service_as_a_Share_of_Tax_Revenue,"Public_Employees_Per_10,000_of_Population_(full-time equivalent)","State_Liability_System_Survey_(tort litigation treatment, judicial impartiality, etc.)",State_Minimum_Wage_(federal floor is $7.25),Average Workers_Compensation_Costs_(per $100 of payroll),Right-to-Work_State_Flag_(option to join or support a union),Tax_Expenditure_Limits,row_id,county,State_Name,first_day_of_month,microbusiness_density,active
0,2019-08-31,01001,2019,8,AL,631.0,742.0,890.0,1133.0,1558.0,NaN,0,0.04,0.06,-1.8,14.37,26.04,20.87,0.0,0.55,0.06,583.5,65.6,7.25,1.33,1.0,0.0,1001_2019-08-01,Autauga County,Alabama,2019-08-01,3.007682,1249.0
1,2019-08-31,01003,2019,8,AL,786.0,809.0,929.0,1351.0,1578.0,Gulf of Mexico,1,0.04,0.06,-1.8,14.37,26.04,20.87,0.0,0.55,0.06,583.5,65.6,7.25,1.33,1.0,0.0,1003_2019-08-01,Baldwin County,Alabama,2019-08-01,7.239156,11464.0
2,2019-08-31,01005,2019,8,AL,527.0,531.0,706.0,885.0,998.0,NaN,0,0.04,0.06,-1.8,14.37,26.04,20.87,0.0,0.55,0.06,583.5,65.6,7.25,1.33,1.0,0.0,1005_2019-08-01,Barbour County,Alabama,2019-08-01,1.073138,222.0
3,2019-08-31,01007,2019,8,AL,749.0,832.0,955.0,1273.0,1424.0,NaN,0,0.04,0.06,-1.8,14.37,26.04,20.87,0.0,0.55,0.06,583.5,65.6,7.25,1.33,1.0,0.0,1007_2019-08-01,Bibb County,Alabama,2019-08-01,1.310777,234.0
4,2019-08-31,01009,2019,8,AL,749.0,832.0,955.0,1273.0,1424.0,NaN,0,0.04,0.06,-1.8,14.37,26.04,20.87,0.0,0.55,0.06,583.5,65.6,7.25,1.33,1.0,0.0,1009_2019-08-01,Blount County,Alabama,2019-08-01,1.544148,681.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147716,2023-06-30,56037,2023,6,56,733.0,746.0,850.0,1207.0,1455.0,NaN,0,0.00,0.00,0.0,33.92,24.53,14.08,0.0,0.42,0.02,879.4,73.1,7.25,1.44,1.0,0.0,NaN,NaN,NaN,NaT,NaN,NaN
147717,2023-06-30,56039,2023,6,56,1257.0,1264.0,1537.0,2170.0,2631.0,NaN,0,0.00,0.00,0.0,33.92,24.53,14.08,0.0,0.42,0.02,879.4,73.1,7.25,1.44,1.0,0.0,NaN,NaN,NaN,NaT,NaN,NaN
147718,2023-06-30,56041,2023,6,56,607.0,611.0,757.0,1021.0,1293.0,NaN,0,0.00,0.00,0.0,33.92,24.53,14.08,0.0,0.42,0.02,879.4,73.1,7.25,1.44,1.0,0.0,NaN,NaN,NaN,NaT,NaN,NaN
147719,2023-06-30,56043,2023,6,56,617.0,638.0,757.0,1075.0,1094.0,NaN,0,0.00,0.00,0.0,33.92,24.53,14.08,0.0,0.42,0.02,879.4,73.1,7.25,1.44,1.0,0.0,NaN,NaN,NaN,NaT,NaN,NaN
147720,2023-06-30,56045,2023,6,56,752.0,757.0,996.0,1231.0,1705.0,NaN,0,0.00,0.00,0.0,33.92,24.53,14.08,0.0,0.42,0.02,879.4,73.1,7.25,1.44,1.0,0.0,NaN,NaN,NaN,NaT,NaN,NaN

In [72]:
df_join_4.to_csv('2d_data.csv')

In [49]:
rev_data.to_csv('rent_data.csv')